BeautifulSoup==3.2.1
Django==1.7.11
Dozer==0.4
Jinja2==2.7.1
Mako==0.9.1
Markdown==2.3.1
MarkupSafe==0.18
Pillow==2.2.1
Pygments==1.6
Pympler==0.3.1
Sphinx==1.2
Unipath==1.0
WebOb==1.3.1
amqp==1.3.3
anyjson==0.3.3
apns==2.0.1
argparse==1.2.1
astroid==1.0.1
billiard==3.3.0.13
celery==3.1.23
coverage==3.7.1
git+https://github.com/yoanisgil/django_layers.git@django-1.7
django-appconf==0.6
django-compress==1.0.1
django-compressor==1.3
django-datatable-view==0.7.0
django-debug-toolbar==1.4
django-extensions==1.3.0
django-eztables==0.3.2
django-fiber==0.13
django-graphos==0.0.2a0
django-jenkins==0.14.1
django-knockback==0.1.3
django-knockout-modeler==0.6.2
django-mptt==0.6.0
django-nose==1.2
django-nvd3==0.6.0
django-overextends==0.3.2
django-redis==4.4.2
django-rest-swagger==0.1.14
django-wysiwyg==0.5.1
django.js==0.8.1
djangorestframework==2.4.8
docutils==0.11
easy-thumbnails==1.4
flower==0.6.0
geopy==0.95.1
google-api-python-client==1.2
googlemaps==1.0.2
httplib2==0.8
kombu==3.0.35
logilab-common==0.60.1
meld3==0.6.10
mock==1.0.1
nose==1.3.0
psutil==1.2.1
psycopg2==2.5
py==1.4.20
pygeocoder==1.2.2
pylint==1.1.0
pymongo==2.6.3
pyparsing==2.0.1
pytest==2.5.2
python-dateutil==2.2
python-memcached==1.53
python-nvd3==0.11.0
pytz==2013.9
redis==2.10.1
requests==2.1.0
rest-condition==1.0.0
simplejson==3.3.2
six==1.4.1
sphinx-me==0.2.1
sqlparse==0.1.10
supervisor==3.0
tornado==3.1.1
twilio==3.6.4
twotest==0.9.2
unittest2==0.5.1
wsaccel==0.6.2
wsgiref==0.1.2
yolk==0.4.3
django-filter==0.7
pyOpenSSL==0.15.1
rauth==0.7.0
python-openid==2.2.5
requests-oauthlib==0.4.1
phonenumbers==7.0.2
django-block-ip==0.2.0
boto==2.38.0
django-boto==0.3.9
django-storages==1.1.8
jsonfield==1.0.3
django-cachalot==1.2.1
django-analytical==2.2.1
python-social-auth==0.2.20
pycrypto==2.6.1
paypalrestsdk==1.11.7
